.menu {
  background: #0000000c;
  height: calc(100vh - 56px - 128px);
  /* position: fixed; */
}

.post-block {
  border: 1px solid #efefef;
}

.post-title {
  /* display: inline; */
  display: flex;
}

.prof_link {
  color: black;
  font-weight: 600;
}

.commentSection {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.commentBlockSection {
  border-top: 1px solid #efefef;
  padding-left: 4px;
  padding-right: 4px;
}

.commentForm > .form-group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-shrink: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}

#commentForm {
  width: auto;
  display: flex;
  border: 0;
  resize: none;
  padding: 0;
  outline: 0;
  flex-grow: 1;
}
